@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(OpenSans-Light-webfont.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(OpenSans-Regular-webfont.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(OpenSans-Semibold-webfont.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url(OpenSans-Bold-webfont.woff) format('woff');
}