.line {
  margin-bottom: 1rem;
}
.line:first-child {
  margin-top: 0.5rem;
}
.line.x2 {
  margin-bottom: 2rem;
}
.line.bb {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1rem;
}
.line.mi>md-input-container {
  margin-right: 1rem;
}
.line.mi>md-input-container:last-child {
  margin-right: 0;
}
.line.nm {
  margin: 0;
}
.line.ml {
  margin-left: 8px;
}
.line .nested {
  margin-right: 1rem;
  padding-left: 2rem;
}
.line .nested md-input-container:first-child {
  margin-left: -2rem;
}
.line md-datepicker {
  min-width: 100%;
  display: block;
  padding-right: 0;
  margin-right: 0;
}
.line md-datepicker .md-datepicker-input-container {
  min-width: 100%;
}
.line md-datepicker .md-datepicker-input-container input {
  min-width: 100%;
}
.line .container {
  padding: 2px;
  padding-left: 32px;
  position: relative;
  height: 34px;
  margin: 18px 0;
}
.line .container md-icon {
  position: absolute;
  top: 8px;
  left: 2px;
  right: auto;
}
.outerCircle {
  height: 50px;
  width: 50px;
  position: relative;
  border: 1px solid #000;
  border-color: #9e9393;
  border-radius: 50%;
}
.innerCircle {
  height: 32px;
  width: 32px;
  position: relative;
  top: 8px;
  left: 8px;
  border: 1px solid #000;
  border-color: #9e9393;
  border-radius: 50%;
}
md-tabs-canvas {
  height: 68px !important;
}
md-ink-bar {
  margin: -20px !important;
}
.arrow {
  width: 50px;
  position: relative;
  border: 2px solid #000;
  border-color: #9e9393;
}
md-tabs {
  padding: 70px;
}
.title,
.h6,
.h5,
.h4,
.h3,
.h2,
.h1 {
  font-weight: 400;
}
.title.t,
.h6.t,
.h5.t,
.h4.t,
.h3.t,
.h2.t,
.h1.t {
  font-weight: 300 !important;
}
.title.n,
.h6.n,
.h5.n,
.h4.n,
.h3.n,
.h2.n,
.h1.n {
  font-weight: 400 !important;
}
.title.sb,
.h6.sb,
.h5.sb,
.h4.sb,
.h3.sb,
.h2.sb,
.h1.sb {
  font-weight: 600 !important;
}
.title.b,
.h6.b,
.h5.b,
.h4.b,
.h3.b,
.h2.b,
.h1.b {
  font-weight: 700 !important;
}
.title.it,
.h6.it,
.h5.it,
.h4.it,
.h3.it,
.h2.it,
.h1.it {
  font-style: italic !important;
}
.title.l,
.h6.l,
.h5.l,
.h4.l,
.h3.l,
.h2.l,
.h1.l {
  color: text-l !important;
}
.title.xl,
.h6.xl,
.h5.xl,
.h4.xl,
.h3.xl,
.h2.xl,
.h1.xl {
  color: text-xl !important;
}
.title.xxl,
.h6.xxl,
.h5.xxl,
.h4.xxl,
.h3.xxl,
.h2.xxl,
.h1.xxl {
  color: text-xxl !important;
}
.title.p,
.h6.p,
.h5.p,
.h4.p,
.h3.p,
.h2.p,
.h1.p {
  color: #0194da !important;
}
.title.a,
.h6.a,
.h5.a,
.h4.a,
.h3.a,
.h2.a,
.h1.a {
  color: accent !important;
}
.title.w,
.h6.w,
.h5.w,
.h4.w,
.h3.w,
.h2.w,
.h1.w {
  color: warn !important;
}
.title.uc,
.h6.uc,
.h5.uc,
.h4.uc,
.h3.uc,
.h2.uc,
.h1.uc {
  text-transform: uppercase;
}
.title.nm,
.h6.nm,
.h5.nm,
.h4.nm,
.h3.nm,
.h2.nm,
.h1.nm {
  margin-right: 0 !important;
}
.title.ls,
.h6.ls,
.h5.ls,
.h4.ls,
.h3.ls,
.h2.ls,
.h1.ls {
  letter-spacing: 2px;
}
.title.ml,
.h6.ml,
.h5.ml,
.h4.ml,
.h3.ml,
.h2.ml,
.h1.ml {
  margin-left: 1rem;
}
.title.mr,
.h6.mr,
.h5.mr,
.h4.mr,
.h3.mr,
.h2.mr,
.h1.mr {
  margin-right: 1rem;
}
.title.mrh,
.h6.mrh,
.h5.mrh,
.h4.mrh,
.h3.mrh,
.h2.mrh,
.h1.mrh {
  margin-right: 0.5rem;
}
.title.mbh,
.h6.mbh,
.h5.mbh,
.h4.mbh,
.h3.mbh,
.h2.mbh,
.h1.mbh {
  margin-bottom: 0.5rem;
}
.title.mr2,
.h6.mr2,
.h5.mr2,
.h4.mr2,
.h3.mr2,
.h2.mr2,
.h1.mr2 {
  margin-right: 2rem;
}
.title.ph,
.h6.ph,
.h5.ph,
.h4.ph,
.h3.ph,
.h2.ph,
.h1.ph {
  padding-left: 1rem;
  padding-right: 1rem;
}
.title md-icon,
.h6 md-icon,
.h5 md-icon,
.h4 md-icon,
.h3 md-icon,
.h2 md-icon,
.h1 md-icon {
  fill: text-xxl;
  color: text-xxl;
  margin: 0 0.4rem 0 0;
}
.title.chip,
.h6.chip,
.h5.chip,
.h4.chip,
.h3.chip,
.h2.chip,
.h1.chip {
  background: #fff;
  padding: 0.6rem 0.8rem;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.1);
  border-radius: 0.4rem;
}
.title.chip a,
.h6.chip a,
.h5.chip a,
.h4.chip a,
.h3.chip a,
.h2.chip a,
.h1.chip a {
  text-decoration: none;
  color: #0194da;
}
.title {
  font-size: 3.8rem;
  font-weight: 300;
  line-height: 4.2rem;
  color: accent;
}
.h6 {
  font-size: 10px !important;
  line-height: 16px !important;
}
.h5 {
  font-size: 12px !important;
  line-height: 18px !important;
}
.h5 md-icon {
  height: 18px;
  width: 18px;
  min-height: 18px;
  min-width: 18px;
}
.h4 {
  font-size: 14px !important;
  line-height: 20px !important;
  margin-top: 12px;
}
padding-left 5px md-icon {
  height: 18px;
  width: 18px;
  min-height: 18px;
  min-width: 18px;
  padding-bottom: 0px;
}
.h3 {
  font-size: 16px !important;
  line-height: 28px !important;
}
.h2 {
  font-size: 20px !important;
  line-height: 26px !important;
}
.h1 {
  font-size: 24px !important;
  line-height: 30px !important;
}
.link {
  color: blue-d;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
md-steppers-wrapper {
  width: 1000px;
}
md-steppers {
  min-height: 500px !important;
}
background-color white!important,
.info {
  padding: 1rem;
}
