primary = #0194DA;
md-content
	//text-align center
.line
	margin-bottom 1rem
	&:first-child
		margin-top 0.5rem
	&.x2
		margin-bottom 2rem
	&.bb
		border-bottom 1px solid #f0f0f0
		padding-bottom 1rem
	&.mi // multiple input
		&>md-input-container
			margin-right 1rem
			&:last-child
				margin-right 0
	&.nm
		margin 0
	&.ml
		margin-left 8px

	.nested
		margin-right 1rem
		padding-left 2rem
		md-input-container
			&:first-child
				margin-left -2rem

	md-datepicker
		min-width: 100%
		display: block
		padding-right 0
		margin-right 0
		.md-datepicker-input-container
			min-width 100%
			input
				min-width: 100%;

	.container
		padding 2px
		padding-left 32px
		position relative
		height 34px
		margin 18px 0
		md-icon
			position absolute
			top 8px
			left 2px
			right auto


.outerCircle
	//radius 5px
	height 50px
	width 50px
	position relative
	border 1px solid black
	border-color #9e9393
	border-radius 50%
	// bottom 18px


.innerCircle
	height 32px
	width 32px
	position relative
	top 8px
	left 8px
	border 1px solid black
	border-color #9e9393
	border-radius 50%

md-tabs-canvas
	height 68px!important
// 	//margin 10px !important
//
// 	md-pagination-wrapper {
//     /* height: 48px; */
// }

// .md-tab
// 	overflow none!important


md-ink-bar
	margin -20px !important
    // color: rgb(76,175,80)
    // background: rgb(76,175,80)



// .arrow
// 	//height 20px
// // md-tabs-wrapper
// // 	md-tab-data
.arrow
	width 50px
	position relative
	border 2px solid black
	border-color #9e9393

md-tabs
	padding 70px
.title,.h6,.h5,.h4,.h3,.h2,.h1
	//color text
	font-weight 400
	//color: #3d596d;
	&.t
		font-weight 300 !important
	&.n
		font-weight 400 !important
	&.sb
		font-weight 600 !important
	&.b
		font-weight 700 !important
	&.it
		font-style italic !important
	&.l
		color text-l !important
	&.xl
		color text-xl !important
	&.xxl
		color text-xxl !important
	&.p
		color primary !important
	&.a
		color accent !important
	&.w
		color warn !important
	&.uc
		text-transform uppercase
	&.nm
		margin-right 0 !important
	&.ls
		letter-spacing 2px
	&.ml
		margin-left 1rem
	&.mr
		margin-right 1rem
	&.mrh
		margin-right 0.5rem
	&.mbh
		margin-bottom 0.5rem
	&.mr2
		margin-right 2rem
	&.ph
		padding-left 1rem
		padding-right 1rem
	md-icon
		fill text-xxl
		color text-xxl
		margin 0 0.4rem 0 0
	&.chip
		background #ffffff
		padding 0.6rem 0.8rem
		box-shadow 2px 2px 4px -1px rgba(0,0,0,0.1)
		border-radius 0.4rem
		a
			text-decoration none
			color primary


.title
	font-size 3.8rem
	font-weight 300
	line-height 4.2rem
	color accent

.h6
	font-size 10px !important
	line-height 16px !important

.h5
	font-size 12px !important
	line-height 18px !important
	md-icon
		height 18px
		width 18px
		min-height 18px
		min-width 18px

.h4
	font-size 14px !important
	line-height 20px !important
	margin-top 12px
    padding-left 5px
	md-icon
		height 18px
		width 18px
		min-height 18px
		min-width 18px
		padding-bottom 0px

.h3
	font-size 16px !important
	line-height 28px !important

.h2
	font-size 20px !important
	line-height 26px !important

.h1
	font-size 24px !important
	line-height 30px !important

.link
	color blue-d
	text-decoration none
	cursor pointer
	&:hover
		text-decoration underline

md-steppers-wrapper
	width 1000px
md-steppers
	min-height 500px !important
// .md-step.md-active md-step-label-wrapper::before, .md-step.md-success md-step-label-wrapper::before
// 	background-color green
	//background-color green
// 	height 500px
// 	width 500px
	background-color white!important
	.info
		padding 1rem
