//md-card(ng-init='step2.disabled = true; selected = 0')
md-steppers(md-selected='VDC.selected', md-stretch-steppers='always')
	md-step(label='Step 1', md-complete='step1.completed', ng-disabled='step1.disabled')
		md-content.md-padding(layout="column")
			form(name="vendordetailsFormOne", autocomplete="off", flex,  layout-align="center start")
				div(layout="row")
					.h3.b.p Vendor Details
				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex="50")
						label Vendor Name
						md-icon(md-svg-src="app/images/icons/account.svg" )
						input(ng-model='VDC.vendorDetails.vendorName',md-maxlength="35",type="text",max="10",name="vendorName",required,ng-disabled="VDC.disableAll")
						div(ng-messages='vendordetailsFormOne.vendorName.$error')
							div(ng-message='required') This is required.
							div(ng-message='md-maxlength') Name should be less than 35.
					md-input-container.md-icon-float(flex="50")
						label Title
						md-icon(md-svg-src="app/images/icons/briefcase.svg" )
						input(ng-model='VDC.vendorDetails.title',type="text",name="title",required,ng-disabled="VDC.disableAll")
						div(ng-messages='vendordetailsFormOne.title.$error')
							div(ng-message='required') This is required.

				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex="50")
						label Name One
						md-icon(md-svg-src="app/images/icons/numeric-1-box.svg" )
						input(ng-model='VDC.vendorDetails.nameOne',type="text",name="nameOne",md-maxlength="40",required,ng-disabled="VDC.disableAll")
						div(ng-messages='vendordetailsFormOne.nameOne.$error')
							div(ng-message='required') This is required.
							div(ng-message='md-maxlength') Name should be less than 40.
							
					md-input-container.md-icon-float(flex="50")
						label Name Two
						md-icon(md-svg-src="app/images/icons/numeric-2-box.svg" )
						input(ng-model='VDC.vendorDetails.nameTwo',type="text",md-maxlength="40",ng-disabled="VDC.disableAll",name="nameTwo",required)
						div(ng-messages='vendordetailsFormOne.nameTwo.$error')
							div(ng-message='required') This is required.
							div(ng-message='md-maxlength') Name should be less than 40.
				.line.nm.mi(layout="row")
					md-icon.mr(md-svg-icon="app/images/icons/information-outline.svg")
					.h4 All Fields are mandatory.
					span(flex) 
					md-button.md-raised.md-primary(ng-click='VDC.stageCompleted();step1.completed=true',ng-disabled="vendordetailsFormOne.$invalid || VDC.disableAll") NEXT
	md-step(label='Step 2', md-complete='step2.completed', ng-click="step1.completed=true",ng-disabled='vendordetailsFormOne.$invalid')
		md-content.md-padding
			form(name="residentialForm", autocomplete="off", flex,  layout-align="center start")
				.line(layout="row")
					.h3.b.p Residential Details
				.line.nm.mi(layout="row")
					//- div(layout="row",flex="45")
					md-input-container.md-icon-float(flex)
						label Country
						md-icon(md-svg-src="app/images/icons/earth.svg" )
						md-select(ng-model="VDC.vendorDetails.country",name="country",required,ng-change="VDC.changeCountry(VDC.vendorDetails.country)",ng-disabled="VDC.disableAll")
							md-option(ng-value="country.countryId",ng-repeat="country in VDC.countryList track by $index") {{country.country}}
							//md-option(ng-value="'US'") US

						div(ng-messages='residentialForm.country.$error')
							div(ng-message='required') This is required.
							//- md-option(ng-value="'australia'") Australia
					md-input-container.md-icon-float(flex)
						label State
						md-icon(md-svg-src="app/images/icons/map.svg" )
						md-select(ng-model="VDC.vendorDetails.state",name="state",required,ng-disabled="VDC.disableAll")
							md-option(ng-value="states.stateId",ng-repeat="states in VDC.stateList track by $index") {{states.state}}
							//- md-option(ng-value="'gujrat'") Gujrat
							//- md-option(ng-value="'rajasthan'") Rajasthan
							//- md-option(ng-value="'andhrapradesh'") Andhra Pradesh
							//- md-option(ng-value="'j&k'") J&K
							
						div(ng-messages='residentialForm.state.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label City
						md-icon(md-svg-src="app/images/icons/city.svg" )
						input(ng-model="VDC.vendorDetails.branchCity",type="text",name="branchCity",required,maxlength="40",ng-disabled="VDC.disableAll")
						div(ng-messages='residentialForm.branchCity.$error')
							div(ng-message='required') This is required.
						
				.line.nm.mi(layout="row")
					//- div(layout="row",flex="45")
					md-input-container.md-icon-float(flex)
						label Street
						md-icon(md-svg-src="app/images/icons/home-map-marker.svg" )
						input(ng-model="VDC.vendorDetails.branchStreet",type="text",maxlength="40",name="branchStreet",required,ng-disabled="VDC.disableAll")
						div(ng-messages='residentialForm.branchStreet.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label Postal Address
						md-icon(md-svg-src="app/images/icons/map.svg" )
						input(ng-model="VDC.vendorDetails.postalcode",type="text",maxlength="10",name="postalCode",required,ng-disabled="VDC.disableAll")
						div(ng-messages='residentialForm.postalCode.$error')
							div(ng-message='required') This is required.
							//div(ng-message='pattern') Please Enter Only Digits(example:1234).

					md-input-container.md-icon-float(flex)
						label House Number
						md-icon(md-svg-src="app/images/icons/home.svg" )
						input(ng-model="VDC.vendorDetails.houseNumber",type="text",maxlength="10",name="houseNumber",required,ng-disabled="VDC.disableAll")
						div(ng-messages='residentialForm.houseNumber.$error')
							div(ng-message='required') This is required.
							//div(ng-message="maxlength") Length should be less than 10.
				//- .line.nm.mi(layout="row")
				//- 	//- div(layout="row",flex="45")
				//- 	md-input-container.md-icon-float(flex="33")
				//- 		label Time Zone
				//- 		md-icon(md-svg-src="app/images/icons/timer.svg" )
				//- 		md-select(ng-model="VDC.vendorDetails.timeZone",name="timezone",required)
				//- 			md-option(ng-value="'UTC+10:30'") UTC+10:30
				//- 			md-option(ng-value="'UTC-05'") UTC-05
				//- 			md-option(ng-value="'UTC-03'") UTC-03
				//- 		div(ng-messages='residentialForm.timezone.$error')
				//- 			div(ng-message='required') This is required.
				//- 			
				.line.nm.mi(layout="row")
					md-icon.mr(md-svg-src="app/images/icons/information-outline.svg")
					.h4 All Fields are mandatory.
					span(flex)
					//md-button.md-raised.md-primary(ng-click='step1.completed=true') Complete step1
					md-button.md-raised.md-primary(ng-click='VDC.stageCompleted();step2.completed=true',ng-disabled="residentialForm.$invalid || VDC.disableAll") NEXT
					
			//- h1
			//- 	| Content Step 2
			//- md-button.md-raised.md-primary(ng-click='selected = 0') PREV
			//- md-button.md-raised.md-primary(ng-click='step1.completed = true') Complete Step 1
			//- md-button.md-raised.md-primary(ng-click='selected = 2') NEXT
	md-step(label='Step 3', md-complete='step3.completed',ng-click="step2.completed=true", ng-disabled='residentialForm.$invalid')
		md-content.md-padding(layout="column")
			form(name="contactDetailsForm", autocomplete="off", flex,  layout-align="center start")
				.line(layout="row")
					.h3.b.p Contact Details
				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex)
						label Mobile Number
						md-icon(md-svg-src="app/images/icons/cellphone.svg" )
						input(ng-model='VDC.vendorDetails.mobileNumber',type='text',name="mobileNumber",required,ng-pattern="/^[+][0-9]+$|[0-9]+$/",ng-disabled="VDC.disableAll")
						div(ng-messages='contactDetailsForm.mobileNumber.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
					md-input-container.md-icon-float(flex)
						label Telephone Number
						md-icon(md-svg-src="app/images/icons/phone.svg" )
						input(ng-model='VDC.vendorDetails.telephoneNumber',type='text',name="telephoneNumber",required,ng-pattern="/^[+][0-9]+$|[0-9]+$/",ng-disabled="VDC.disableAll")
						div(ng-messages='contactDetailsForm.telephoneNumber.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
					md-input-container.md-icon-float(flex)
						label Fax Number
						md-icon(md-svg-src="app/images/icons/fax.svg" )
						input(ng-model='VDC.vendorDetails.faxNumber',type='text',name="faxNumber",required,ng-pattern="/^[+][0-9]+$|[0-9]+$/",ng-disabled="VDC.disableAll")
						div(ng-messages='contactDetailsForm.faxNumber.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
				.line.nm.mi(layout="row")
					md-icon.mr(md-svg-src="app/images/icons/information-outline.svg")
					.h4 All Fields are mandatory.
					span(flex)
					md-button.md-raised.md-primary(ng-click='VDC.stageCompleted();step3.completed=true',ng-disabled="contactDetailsForm.$invalid || VDC.disableAll") NEXT
					

	md-step(label='Step 4', md-complete='step4.completed',ng-click="step3.completed=true", ng-disabled='contactDetailsForm.$invalid')
		md-content.md-padding(layout="column")
			form(name="bankDetailsForm", autocomplete="off", flex,  layout-align="center start")
				.line(layout="row")
					.h3.b.p Bank Details
				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex)
						label Bank Name
						md-icon(md-svg-src="app/images/icons/bank.svg" )
						input(ng-model='VDC.vendorDetails.bankName',type='text',name="bankName",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.bankName.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label Bank Account Number
						md-icon(md-svg-src="app/images/icons/folder-account.svg" )
						input(ng-model='VDC.vendorDetails.bankAccountNumber',type='text',name="bankAccountNumber",required,ng-pattern="/^[0-9]*$/",ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.bankAccountNumber.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
					md-input-container.md-icon-float(flex)
						label Account Holder Name
						md-icon(md-svg-src="app/images/icons/account.svg" )
						input(ng-model='VDC.vendorDetails.accountHolderName',type='text',name="accountHolderName",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.accountHolderName.$error')
							div(ng-message='required') This is required.
				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex)
						label Branch Name
						md-icon(md-svg-src="app/images/icons/format-align-justify.svg" )
						input(ng-model='VDC.vendorDetails.branchName',type='text',name="branchName",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.branchName.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label City
						md-icon(md-svg-src="app/images/icons/city.svg" )
						input(ng-model='VDC.vendorDetails.city',type='text',name="city",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.city.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label Street
						md-icon(md-svg-src="app/images/icons/home-map-marker.svg" )
						input(ng-model='VDC.vendorDetails.street',type='text',name="street",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.street.$error')
							div(ng-message='required') This is required.
				.line.nm.mi(layout="row")
					md-input-container.md-icon-float(flex)
						label IFSC Swift
						md-icon(md-svg-src="app/images/icons/application.svg" )
						input(ng-model='VDC.vendorDetails.ifscSwift',type='text',name="ifscSwift",required,ng-disabled="VDC.disableAll")
						div(ng-messages='bankDetailsForm.ifscSwift.$error')
							div(ng-message='required') This is required.
					
				.line.nm.mi(layout="row")
					md-icon.mr(md-svg-src="app/images/icons/information-outline.svg")
					.h4 All Fields are mandatory.
					span(flex)
					md-button.md-raised.md-primary(ng-click='VDC.stageCompleted();step4.completed=true',ng-disabled="bankDetailsForm.$invalid || VDC.disableAll") NEXT

	md-step(label='Step 5', md-complete='step5.completed',ng-click="step4.completed=true", ng-disabled='bankDetailsForm.$invalid')
		md-content.md-padding(layout="column")
			form(name="taxDetailsForm", autocomplete="off", flex,  layout-align="center start")
				//.line(layout="row")				
				.line(layout="row")
					.h3.b.p Tax Details
				.line.nm.mi(layout="row",ng-hide="VDC.vendorDetails.country==7")
					md-input-container.md-icon-float(flex)
						label GST Registeration Number
						md-icon(md-svg-src="app/images/icons/numeric.svg" )
						input(ng-model='VDC.vendorDetails.gstRegNumber',type='text',name="gstRegNumber",ng-required="VDC.vendorDetails.country==4",ng-disabled="VDC.disableAll")
						div(ng-messages='taxDetailsForm.gstRegNumber.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label GST Class
						md-icon(md-svg-src="app/images/icons/clipboard.svg" )
						//input(ng-model='VDC.vendorDetails.countrycode',type='text',name="countrycode",required)
						md-select(ng-model='VDC.vendorDetails.gstClass',name="gstClass",ng-required="VDC.vendorDetails.country==4",ng-disabled="VDC.disableAll")
							md-option(ng-value="gstClassList.gstId",ng-repeat="gstClassList in VDC.getGstClassList track by $index") {{gstClassList.gstClass}}
							//- md-option(value="ClassTwo") Class Two
							//- md-option(value="ClassThree") Class Three
						//- md-select(ng-model="VDC.vendorDetails.country",name="country",required,ng-change="VDC.changeCountry(VDC.vendorDetails.country)")
						//- 	md-option(ng-value="country.countryId",ng-repeat="country in VDC.countryList track by $index") {{country.country}}
						//- 		
						div(ng-messages='taxDetailsForm.gstClass.$error')
							div(ng-message='required') This is required.
					md-input-container.md-icon-float(flex)
						label PAN Number
						md-icon(md-svg-src="app/images/icons/briefcase.svg" )
						input(ng-model='VDC.vendorDetails.panNumber',type='text',name="panNumber",ng-required="VDC.vendorDetails.country==4",ng-disabled="VDC.disableAll")
						div(ng-messages='taxDetailsForm.panNumber.$error')
							div(ng-message='required') This is required.
							//div(ng-message='pattern') Please Enter Only Digits(example:1234).
				.line.nm.mi(layout="row",ng-hide="VDC.vendorDetails.country==4")
					md-input-container.md-icon-float(flex="33")
						label Federal Id
						md-icon(md-svg-src="app/images/icons/briefcase.svg" )
						input(ng-model='VDC.vendorDetails.federalId',type='text',name="federalId",ng-required="VDC.vendorDetails.country==7",ng-pattern="/^[0-9]*$/",ng-disabled="VDC.disableAll")
						div(ng-messages='taxDetailsForm.federalId.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
					md-input-container.md-icon-float(flex="33")
						label SSN
						md-icon(md-svg-src="app/images/icons/application.svg" )
						input(ng-model='VDC.vendorDetails.ssn',type='text',name="ssn",ng-required="VDC.vendorDetails.country==7",ng-pattern="/^[0-9]*$/",ng-disabled="VDC.disableAll")
						div(ng-messages='taxDetailsForm.ssn.$error')
							div(ng-message='required') This is required.
							div(ng-message='pattern') Please Enter Only Digits(example:1234).
				.line.nm.mi(layout="row")
					md-icon.mr(md-svg-src="app/images/icons/information-outline.svg")
					.h4 All Fields are mandatory.
					span(flex)
					md-button.md-raised.md-primary(ng-click='VDC.setVendorDetails();step5.completed=true',ng-disabled="taxDetailsForm.$invalid || VDC.disableAll") Submit
		
	//- md-step(label='Finish', md-complete='step3.completed', ng-disabled='step3.disabled')
	//- 	md-content
	//- 		h1 Finish
//- md-tabs(md-border-bottom,flex,md-dynamic-height,md-no-pagination='false',md-selected="tabIndex")
//- 	md-tab(label="")
//- 		md-tab-label
//- 			div
//- 				.outerCircle
//- 					.innerCircle
//- 						md-icon(md-svg-src="app/images/icons/account.svg")
//- 		md-tab-body
//- 			md-content.md-padding(layout="column")
//- 				form(name="vendordetailsFormOne", autocomplete="off", flex,  layout-align="center start")
//- 					div(layout="row")
//- 						.h3.b.p Vendor Details
//- 					.line.nm.mi(layout="row")
//- 				
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Vendor Name
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.vendorName',type="text",name="vendorName",required)
//- 							div(ng-messages='vendordetailsFormOne.organisationNameOne.$error')
//- 								div(ng-message='required') This is required.
//- 							
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Title
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.title',type="text",name="title",required)
//- 							div(ng-messages='vendordetailsFormOne.organisationNameTwo.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Name One
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.nameOne',type="text",name="nameOne",required)
//- 							div(ng-messages='vendordetailsFormOne.organisationNameTwo.$error')
//- 								div(ng-message='required') This is required.
//- 					.line.nm.mi(layout="row")
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Name Two
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.nameTwo',type="text",name="nameTwo",required)
//- 							div(ng-messages='vendordetailsFormOne.organisationNameOne.$error')
//- 								div(ng-message='required') This is required.
//- 		
//- 	md-tab(label="")
//- 		md-tab-label
//- 			div
//- 				.outerCircle
//- 					.innerCircle
//- 						md-icon(md-svg-src="app/images/icons/home1.svg")
//- 			div
//- 				.arrow
//- 		md-tab-body
//- 			md-content.md-padding(layout="column")
//- 				form(name="residentialForm", autocomplete="off", flex,  layout-align="center start")
//- 
//- 					.line(layout="row")
//- 						.h3.b.p Residential Details
//- 					.line.nm.mi(layout="row")
//- 						//- div(layout="row",flex="45")
//- 						md-input-container.md-icon-float(flex)
//- 							label Country
//- 							md-icon(md-svg-src="app/images/icons/earth.svg" )
//- 							md-select(ng-model="VDC.vendorDetails.countryId",name="country",required)
//- 								md-option(ng-value="'India'") India
//- 								md-option(ng-value="'US'") US
//- 
//- 							div(ng-messages='residentialForm.country.$error')
//- 								div(ng-message='required') This is required.
//- 								//- md-option(ng-value="'australia'") Australia
//- 						md-input-container.md-icon-float(flex)
//- 							label State
//- 							md-icon(md-svg-src="app/images/icons/map.svg" )
//- 							md-select(ng-model="VDC.vendorDetails.state",name="state",required)
//- 								md-option(ng-value="'india'") Maharashtra
//- 								md-option(ng-value="'gujrat'") Gujrat
//- 								md-option(ng-value="'rajasthan'") Rajasthan
//- 								md-option(ng-value="'andhrapradesh'") Andhra Pradesh
//- 								md-option(ng-value="'j&k'") J&K
//- 								
//- 							div(ng-messages='residentialForm.country.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label City
//- 							md-icon(md-svg-src="app/images/icons/city.svg" )
//- 							input(ng-model="VDC.vendorDetails.branchCity",type="text",name="branchCity",required)
//- 							div(ng-messages='residentialForm.branchCity.$error')
//- 								div(ng-message='required') This is required.
//- 							
//- 					.line.nm.mi(layout="row")
//- 						//- div(layout="row",flex="45")
//- 						md-input-container.md-icon-float(flex)
//- 							label Street
//- 							md-icon(md-svg-src="app/images/icons/home-map-marker.svg" )
//- 							input(ng-model="VDC.vendorDetails.branchStreet",type="text",name="branchStreet",required)
//- 							div(ng-messages='residentialForm.branchStreet.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label Postal Code
//- 							md-icon(md-svg-src="app/images/icons/map.svg" )
//- 							input(ng-model="VDC.vendorDetails.postalcode",type="text",name="postalCode",required)
//- 							div(ng-messages='residentialForm.postalCode.$error')
//- 								div(ng-message='required') This is required.
//- 
//- 						md-input-container.md-icon-float(flex)
//- 							label House Number
//- 							md-icon(md-svg-src="app/images/icons/home.svg" )
//- 							input(ng-model="VDC.vendorDetails.houseNumber",type="text",name="houseNumber",required)
//- 							div(ng-messages='residentialForm.houseNumber.$error')
//- 								div(ng-message='required') This is required.
//- 					.line.nm.mi(layout="row")
//- 						//- div(layout="row",flex="45")
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Time Zone
//- 							md-icon(md-svg-src="app/images/icons/timer.svg" )
//- 							md-select(ng-model="VDC.vendorDetails.timeZone",name="timezone",required)
//- 								md-option(ng-value="'UTC+10:30'") UTC+10:30
//- 								md-option(ng-value="'UTC-05'") UTC-05
//- 								md-option(ng-value="'UTC-03'") UTC-03
//- 							div(ng-messages='residentialForm.timezone.$error')
//- 								div(ng-message='required') This is required.
//- 					//- .line.nm.mi(layout="row")
//- 					//- 	md-icon.mr(md-svg-icon="app/images/icons/information-outline.svg")
//- 					//- 	.h4.xl Please fill all details to navigate next tab.
//- 						//- span(flex)
//- 						//- md-button(ng-click="tabIndex=tabIndex+1", aria-label="Save btn", ng-disabled="vendordetailsFormOne.$invalid") Next
//- 						//- 	md-icon(md-svg-src="app/images/icons/arrow-right.svg" )
//- 					
//- 	md-tab("")
//- 		md-tab-label
//- 			div
//- 				.outerCircle
//- 					.innerCircle
//- 						md-icon(md-svg-src="app/images/icons/phone.svg")
//- 		md-tab-body
//- 			md-content.md-padding(layout="column")
//- 				form(name="contactDetailsForm", autocomplete="off", flex,  layout-align="center start")
//- 					.line(layout="row")
//- 						.h3.b.p Contact Details
//- 					.line.nm.mi(layout="row")
//- 						md-input-container.md-icon-float(flex)
//- 							label Mobile Number
//- 							md-icon(md-svg-src="app/images/icons/cellphone.svg" )
//- 							input(ng-model='VDC.vendorDetails.mobileNumber',type='number',name="mobileNumber",required)
//- 							div(ng-messages='contactDetailsForm.mobileNumber.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label Telephone Number
//- 							md-icon(md-svg-src="app/images/icons/cellphone.svg" )
//- 							input(ng-model='VDC.vendorDetails.telephoneNumber',type='number',name="telephoneNumber",required)
//- 							div(ng-messages='contactDetailsForm.telephoneNumber.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label Fax Number
//- 							md-icon(md-svg-src="app/images/icons/cellphone.svg" )
//- 							input(ng-model='VDC.vendorDetails.faxNumber',type='number',name="faxNumber",required)
//- 							div(ng-messages='contactDetailsForm.faxNumber.$error')
//- 								div(ng-message='required') This is required.
//- 	md-tab(label="")
//- 		md-tab-label
//- 			div
//- 				.outerCircle
//- 					.innerCircle
//- 						md-icon(md-svg-src="app/images/icons/briefcase.svg")
//- 		md-tab-body
//- 			md-content.md-padding(layout="column")
//- 				form(name="bankDetailsForm", autocomplete="off", flex,  layout-align="center start")
//- 					.line(layout="row")
//- 						.h3.b.p Bank Details
//- 					.line.nm.mi(layout="row")
//- 						md-input-container.md-icon-float(flex)
//- 							label Bank Account Number
//- 							md-icon(md-svg-src="app/images/icons/application.svg" )
//- 							input(ng-model='VDC.vendorDetails.bankAccountNumber',type='text',name="bankAccountNumber",required)
//- 							div(ng-messages='bankDetailsForm.bankAccountNumber.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label Account Holder Name
//- 							md-icon(md-svg-src="app/images/icons/cellphone.svg" )
//- 							input(ng-model='VDC.vendorDetails.accountHolderName',type='text',name="accountHolderName",required)
//- 							div(ng-messages='bankDetailsForm.accountHolderName.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label IFSC Swift
//- 							md-icon(md-svg-src="app/images/icons/application.svg" )
//- 							input(ng-model='VDC.vendorDetails.ifscSwift',type='number',name="ifscSwift",required)
//- 							div(ng-messages='bankDetailsForm.ifscSwift.$error')
//- 								div(ng-message='required') This is required.
//- 					.line.nm.mi(layout="row")
//- 						md-input-container.md-icon-float(flex)
//- 							label Branch Name
//- 							md-icon(md-svg-src="app/images/icons/cellphone.svg" )
//- 							input(ng-model='VDC.vendorDetails.branchName',type='text',name="branchName",required)
//- 							div(ng-messages='bankDetailsForm.branchName.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label Street
//- 							md-icon(md-svg-src="app/images/icons/application.svg" )
//- 							input(ng-model='VDC.vendorDetails.street',type='text',name="street",required)
//- 							div(ng-messages='bankDetailsForm.street.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label City
//- 							md-icon(md-svg-src="app/images/icons/application.svg" )
//- 							input(ng-model='VDC.vendorDetails.city',type='text',name="city",required)
//- 							div(ng-messages='bankDetailsForm.city.$error')
//- 								div(ng-message='required') This is required.
//- 	md-tab(label="")
//- 		md-tab-label
//- 			div
//- 				.outerCircle
//- 					.innerCircle
//- 						md-icon(md-svg-src="app/images/icons/fax.svg")
//- 		md-tab-body
//- 			md-content.md-padding(layout="column")
//- 				form(name="taxDetailsForm", autocomplete="off", flex,  layout-align="center start")
//- 					//.line(layout="row")				
//- 					.line(layout="row")
//- 						.h3.b.p Tax Details		
//- 					.line.nm.mi(layout="row",ng-hide="VDC.vendorDetails.countryId=='US'")
//- 						md-input-container.md-icon-float(flex)
//- 							label GST Registeration Number
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.gstRegNumber',type='number',name="gstRegNumber",required)
//- 							div(ng-messages='taxDetailsForm.gstRegNumber.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label GST Class
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							//input(ng-model='VDC.vendorDetails.countrycode',type='text',name="countrycode",required)
//- 							md-select(ng-model='VDC.vendorDetails.gstClass',name="gstClass",required)
//- 								md-option(value="ClassOne") Class One
//- 								md-option(value="ClassTwo") Class Two
//- 								md-option(value="ClassThree") Class Three
//- 							div(ng-messages='taxDetailsForm.gstClass.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex)
//- 							label PAN Number
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.panNumber',type='number',name="panNumber",required)
//- 							div(ng-messages='taxDetailsForm.panNumber.$error')
//- 								div(ng-message='required') This is required.
//- 					.line.nm.mi(layout="row",ng-hide="VDC.vendorDetails.countryId=='India'")
//- 						md-input-container.md-icon-float(flex="33")
//- 							label Federal Id
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.federalId',type='number',name="federalId",required)
//- 							div(ng-messages='taxDetailsForm.federalId.$error')
//- 								div(ng-message='required') This is required.
//- 						md-input-container.md-icon-float(flex="33")
//- 							label SSN
//- 							md-icon(md-svg-src="app/images/icons/briefcase.svg" )
//- 							input(ng-model='VDC.vendorDetails.ssn',type='number',name="ssn",required)
//- 							div(ng-messages='taxDetailsForm.ssn.$error')
//- 								div(ng-message='required') This is required.
//- 					.line.nm.mi(layout="row")
//- 						span(layout="start start")
//- 						md-button(ng-click="tabIndex=tabIndex-1", aria-label="Save btn", ng-disabled="") Previous
//- 							md-icon(md-svg-src="app/images/icons/arrow-left.svg" )
//- 						span(flex)
//- 						md-button.md-accent.md-raised(ng-click="", aria-label="Save btn", ng-disabled="vendordetailsFormTwo.$invalid") Submit
