
<!--md-card(ng-init='step2.disabled = true; selected = 0')-->
<md-steppers md-selected="VDC.selected" md-stretch-steppers="always">
  <md-step label="Step 1" md-complete="step1.completed" ng-disabled="step1.disabled">
    <md-content layout="column" class="md-padding">
      <form name="vendordetailsFormOne" autocomplete="off" flex="flex" layout-align="center start">
        <div layout="row">
          <div class="h3 b p">Vendor Details</div>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="50" class="md-icon-float">
            <label>Vendor Name</label>
            <md-icon md-svg-src="app/images/icons/account.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.vendorName" md-maxlength="35" type="text" max="10" name="vendorName" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="vendordetailsFormOne.vendorName.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">Name should be less than 35.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-icon-float">
            <label>Title</label>
            <md-icon md-svg-src="app/images/icons/briefcase.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.title" type="text" name="title" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="vendordetailsFormOne.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="50" class="md-icon-float">
            <label>Name One</label>
            <md-icon md-svg-src="app/images/icons/numeric-1-box.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.nameOne" type="text" name="nameOne" md-maxlength="40" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="vendordetailsFormOne.nameOne.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">Name should be less than 40.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-icon-float">
            <label>Name Two</label>
            <md-icon md-svg-src="app/images/icons/numeric-2-box.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.nameTwo" type="text" md-maxlength="40" ng-disabled="VDC.disableAll" name="nameTwo" required="required"/>
            <div ng-messages="vendordetailsFormOne.nameTwo.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">Name should be less than 40.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-icon md-svg-icon="app/images/icons/information-outline.svg" class="mr"></md-icon>
          <div class="h4">All Fields are mandatory.</div><span flex="flex"> </span>
          <md-button ng-click="VDC.stageCompleted();step1.completed=true" ng-disabled="vendordetailsFormOne.$invalid || VDC.disableAll" class="md-raised md-primary">NEXT</md-button>
        </div>
      </form>
    </md-content>
  </md-step>
  <md-step label="Step 2" md-complete="step2.completed" ng-click="step1.completed=true" ng-disabled="vendordetailsFormOne.$invalid">
    <md-content class="md-padding">
      <form name="residentialForm" autocomplete="off" flex="flex" layout-align="center start">
        <div layout="row" class="line">
          <div class="h3 b p">Residential Details</div>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>Country</label>
            <md-icon md-svg-src="app/images/icons/earth.svg"></md-icon>
            <md-select ng-model="VDC.vendorDetails.country" name="country" required="required" ng-change="VDC.changeCountry(VDC.vendorDetails.country)" ng-disabled="VDC.disableAll">
              <md-option ng-value="country.countryId" ng-repeat="country in VDC.countryList track by $index">{{country.country}}</md-option>
              <!--md-option(ng-value="'US'") US-->
            </md-select>
            <div ng-messages="residentialForm.country.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>State</label>
            <md-icon md-svg-src="app/images/icons/map.svg"></md-icon>
            <md-select ng-model="VDC.vendorDetails.state" name="state" required="required" ng-disabled="VDC.disableAll">
              <md-option ng-value="states.stateId" ng-repeat="states in VDC.stateList track by $index">{{states.state}}</md-option>
            </md-select>
            <div ng-messages="residentialForm.state.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>City</label>
            <md-icon md-svg-src="app/images/icons/city.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.branchCity" type="text" name="branchCity" required="required" maxlength="40" ng-disabled="VDC.disableAll"/>
            <div ng-messages="residentialForm.branchCity.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>Street</label>
            <md-icon md-svg-src="app/images/icons/home-map-marker.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.branchStreet" type="text" maxlength="40" name="branchStreet" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="residentialForm.branchStreet.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Postal Address</label>
            <md-icon md-svg-src="app/images/icons/map.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.postalcode" type="text" maxlength="10" name="postalCode" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="residentialForm.postalCode.$error">
              <div ng-message="required">This is required.</div>
              <!--div(ng-message='pattern') Please Enter Only Digits(example:1234).-->
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>House Number</label>
            <md-icon md-svg-src="app/images/icons/home.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.houseNumber" type="text" maxlength="10" name="houseNumber" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="residentialForm.houseNumber.$error">
              <div ng-message="required">This is required.</div>
              <!--div(ng-message="maxlength") Length should be less than 10.-->
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-icon md-svg-src="app/images/icons/information-outline.svg" class="mr"></md-icon>
          <div class="h4">All Fields are mandatory.</div><span flex="flex"></span>
          <!--md-button.md-raised.md-primary(ng-click='step1.completed=true') Complete step1-->
          <md-button ng-click="VDC.stageCompleted();step2.completed=true" ng-disabled="residentialForm.$invalid || VDC.disableAll" class="md-raised md-primary">NEXT</md-button>
        </div>
      </form>
    </md-content>
  </md-step>
  <md-step label="Step 3" md-complete="step3.completed" ng-click="step2.completed=true" ng-disabled="residentialForm.$invalid">
    <md-content layout="column" class="md-padding">
      <form name="contactDetailsForm" autocomplete="off" flex="flex" layout-align="center start">
        <div layout="row" class="line">
          <div class="h3 b p">Contact Details</div>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>Mobile Number</label>
            <md-icon md-svg-src="app/images/icons/cellphone.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.mobileNumber" type="text" name="mobileNumber" required="required" ng-pattern="/^[+][0-9]+$|[0-9]+$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="contactDetailsForm.mobileNumber.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Telephone Number</label>
            <md-icon md-svg-src="app/images/icons/phone.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.telephoneNumber" type="text" name="telephoneNumber" required="required" ng-pattern="/^[+][0-9]+$|[0-9]+$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="contactDetailsForm.telephoneNumber.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Fax Number</label>
            <md-icon md-svg-src="app/images/icons/fax.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.faxNumber" type="text" name="faxNumber" required="required" ng-pattern="/^[+][0-9]+$|[0-9]+$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="contactDetailsForm.faxNumber.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-icon md-svg-src="app/images/icons/information-outline.svg" class="mr"></md-icon>
          <div class="h4">All Fields are mandatory.</div><span flex="flex"></span>
          <md-button ng-click="VDC.stageCompleted();step3.completed=true" ng-disabled="contactDetailsForm.$invalid || VDC.disableAll" class="md-raised md-primary">NEXT</md-button>
        </div>
      </form>
    </md-content>
  </md-step>
  <md-step label="Step 4" md-complete="step4.completed" ng-click="step3.completed=true" ng-disabled="contactDetailsForm.$invalid">
    <md-content layout="column" class="md-padding">
      <form name="bankDetailsForm" autocomplete="off" flex="flex" layout-align="center start">
        <div layout="row" class="line">
          <div class="h3 b p">Bank Details</div>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>Bank Name</label>
            <md-icon md-svg-src="app/images/icons/bank.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.bankName" type="text" name="bankName" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.bankName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Bank Account Number</label>
            <md-icon md-svg-src="app/images/icons/folder-account.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.bankAccountNumber" type="text" name="bankAccountNumber" required="required" ng-pattern="/^[0-9]*$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.bankAccountNumber.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Account Holder Name</label>
            <md-icon md-svg-src="app/images/icons/account.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.accountHolderName" type="text" name="accountHolderName" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.accountHolderName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>Branch Name</label>
            <md-icon md-svg-src="app/images/icons/format-align-justify.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.branchName" type="text" name="branchName" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.branchName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>City</label>
            <md-icon md-svg-src="app/images/icons/city.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.city" type="text" name="city" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.city.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>Street</label>
            <md-icon md-svg-src="app/images/icons/home-map-marker.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.street" type="text" name="street" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.street.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>IFSC Swift</label>
            <md-icon md-svg-src="app/images/icons/application.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.ifscSwift" type="text" name="ifscSwift" required="required" ng-disabled="VDC.disableAll"/>
            <div ng-messages="bankDetailsForm.ifscSwift.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-icon md-svg-src="app/images/icons/information-outline.svg" class="mr"></md-icon>
          <div class="h4">All Fields are mandatory.</div><span flex="flex"></span>
          <md-button ng-click="VDC.stageCompleted();step4.completed=true" ng-disabled="bankDetailsForm.$invalid || VDC.disableAll" class="md-raised md-primary">NEXT</md-button>
        </div>
      </form>
    </md-content>
  </md-step>
  <md-step label="Step 5" md-complete="step5.completed" ng-click="step4.completed=true" ng-disabled="bankDetailsForm.$invalid">
    <md-content layout="column" class="md-padding">
      <form name="taxDetailsForm" autocomplete="off" flex="flex" layout-align="center start">
        <!--.line(layout="row")				-->
        <div layout="row" class="line">
          <div class="h3 b p">Tax Details</div>
        </div>
        <div layout="row" ng-hide="VDC.vendorDetails.country==7" class="line nm mi">
          <md-input-container flex="flex" class="md-icon-float">
            <label>GST Registeration Number</label>
            <md-icon md-svg-src="app/images/icons/numeric.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.gstRegNumber" type="text" name="gstRegNumber" ng-required="VDC.vendorDetails.country==4" ng-disabled="VDC.disableAll"/>
            <div ng-messages="taxDetailsForm.gstRegNumber.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>GST Class</label>
            <md-icon md-svg-src="app/images/icons/clipboard.svg"></md-icon>
            <!--input(ng-model='VDC.vendorDetails.countrycode',type='text',name="countrycode",required)-->
            <md-select ng-model="VDC.vendorDetails.gstClass" name="gstClass" ng-required="VDC.vendorDetails.country==4" ng-disabled="VDC.disableAll">
              <md-option ng-value="gstClassList.gstId" ng-repeat="gstClassList in VDC.getGstClassList track by $index">{{gstClassList.gstClass}}</md-option>
            </md-select>
            <div ng-messages="taxDetailsForm.gstClass.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="flex" class="md-icon-float">
            <label>PAN Number</label>
            <md-icon md-svg-src="app/images/icons/briefcase.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.panNumber" type="text" name="panNumber" ng-required="VDC.vendorDetails.country==4" ng-disabled="VDC.disableAll"/>
            <div ng-messages="taxDetailsForm.panNumber.$error">
              <div ng-message="required">This is required.</div>
              <!--div(ng-message='pattern') Please Enter Only Digits(example:1234).-->
            </div>
          </md-input-container>
        </div>
        <div layout="row" ng-hide="VDC.vendorDetails.country==4" class="line nm mi">
          <md-input-container flex="33" class="md-icon-float">
            <label>Federal Id</label>
            <md-icon md-svg-src="app/images/icons/briefcase.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.federalId" type="text" name="federalId" ng-required="VDC.vendorDetails.country==7" ng-pattern="/^[0-9]*$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="taxDetailsForm.federalId.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
          <md-input-container flex="33" class="md-icon-float">
            <label>SSN</label>
            <md-icon md-svg-src="app/images/icons/application.svg"></md-icon>
            <input ng-model="VDC.vendorDetails.ssn" type="text" name="ssn" ng-required="VDC.vendorDetails.country==7" ng-pattern="/^[0-9]*$/" ng-disabled="VDC.disableAll"/>
            <div ng-messages="taxDetailsForm.ssn.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Please Enter Only Digits(example:1234).</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" class="line nm mi">
          <md-icon md-svg-src="app/images/icons/information-outline.svg" class="mr"></md-icon>
          <div class="h4">All Fields are mandatory.</div><span flex="flex"></span>
          <md-button ng-click="VDC.setVendorDetails();step5.completed=true" ng-disabled="taxDetailsForm.$invalid || VDC.disableAll" class="md-raised md-primary">Submit</md-button>
        </div>
      </form>
    </md-content>
  </md-step>
</md-steppers>